{% extends "::layout.html.twig" %}

{% block active_home 'active' %}
{% block body %}
	<h2 class="ui header padded left">
		<i class="home large icon"></i>
		<div class="content">
			{{ 'HEADING_INTRA_HOME'|trans|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui page grid">
		{% block body_index %}
		{% endblock %}
	</div>
{% endblock %}
