{% extends 'SiteActivityBundle::layout.html.twig' %}

{% block activities_body %}
	<form method="post">
		{% for scale in scales %}
			{{ scale.name }}
			{{ scale.description }}
		{% endfor %}
		{{ form_widget(form) }}
	</form>
	
{% endblock %}