root:
    pattern: /
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: site_intra


site_planning:
    resource: "@SitePlanningBundle/Resources/config/routing.yml"
    prefix:   /planning


site_activity:
    resource: "@SiteActivityBundle/Resources/config/routing_activities.yml"
    prefix:   /activities


site_elearning:
    resource: "@SiteActivityBundle/Resources/config/routing_elearning.yml"
    prefix:   /elearning


site_intra:
    resource: "@SiteIntraBundle/Resources/config/routing.yml"
    prefix:   /index


site_forum:
    resource: "@SiteForumBundle/Resources/config/routing.yml"
    prefix:   /forum


site_ticket:
    resource: "@SiteTicketBundle/Resources/config/routing.yml"
    prefix:   /tickets


site_message:
    resource: "@SiteMessageBundle/Resources/config/routing.xml"
    prefix: /messages


site_directory:
    resource: "@SiteDirectoryBundle/Resources/config/routing.yml"
    prefix:   /directory


sonata_user_security:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_security_1.xml"

sonata_user_profile:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_profile_1.xml"
    prefix: /profile

sonata_user_change_password:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_change_password_1.xml"
    prefix: /profile


admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

media:
    resource: '@SonataMediaBundle/Resources/config/routing/media.xml'
    prefix: /media
