{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block title %} {{ 'sonata_profile_title'|trans({}, 'SonataUserBundle') }} | {{ parent() }} {% endblock %}

{% block body_user %}
	{% block sonata_page_breadcrumb %}
		{% if breadcrumb_context is not defined %}
			{% set breadcrumb_context = 'user_index' %}
		{% endif %}
		<div class="row-fluid clearfix">
			{{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
		</div>
	{% endblock %}
	<h2 class="ui header padded left">
		<i class="dashboard large icon"></i>
		<div class="content">
			{{ 'sonata_profile_title'|trans({}, 'SonataUserBundle')|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui page stackable relaxed grid">
		{% block sonata_profile_content %}
		{% endblock %}
	</div>
{% endblock %}
