{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<h3 class="ui header">
		<i class="lock icon"></i>
		<div class="content">
			{{ 'DASHBOARD_TITLE_EDIT_PASSWORD'|trans }}
			<div class="sub header">{{ 'DASHBOARD_SUBTITLE_EDIT_PASSWORD'|trans }}</div>
		</div>
	</h3>
	<div class="ui form newpost">
		{% render url("sonata_user_change_password") %}
	</div>
{% endblock %}
