<h3 class="ui dividing header">
	<i class="tasks icon"></i>
	<div class="content">
		NEED FIX
	</div>
</h3>
<table class="ui sortable basic table">
	<thead>
		<tr>
			<th>NEED FIX</th>
			<th>NEED FIX</th>
			<th>NEED FIX</th>
			<th>NEED FIX</th>
			<th>NEED FIX</th>
		</tr>
	</thead>
	<tbody>
		{% for module in user.modules %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
