{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<div class="equal height two column row">
		<div class="column">
			<div class="segment">
				<br>
				{% include "ApplicationSonataUserBundle:Profile:show_block_profile.html.twig" %}
			</div>
		</div>
		<div class="middle aligned column">
			<div class="row">
				<div class="column">
					<div class="segment">
						{% include "ApplicationSonataUserBundle:Profile:show_block_forum.html.twig" %}
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="column">
					<div class="segment">
						<h3 class="ui dividing header">
							<i class="chat icon"></i>
							<div class="content">
									NEED FIX
							</div>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="one column row">
		<div class="column">
			<div class="segment">
				{% include "ApplicationSonataUserBundle:Profile:show_block_activities.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
