@import url(https://fonts.googleapis.com/css?family=Lemon|Oxygen);

html
{
	font-family: "Oxygen", sans-serif;
	font-size: 0.9em;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html a
{
	color: #444444;
	text-decoration: none;
}

html a:hover:not(.hide), html a:active:not(.hide), html a:focus:not(.hide)
{
	text-decoration: underline;
}

body
{
	background-image:url(../images/background.gif);
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body.overflow
{
	background: rgba(68, 68, 68, 0.5);
}

div.overflow
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 900;
}

div.form.login
{
	position: absolute;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15%;
	min-width: 350px;
	margin: 0 auto;
	margin-top: 15%;
}

div.form.newthread
{
	display: block;
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
}

div.form.newpost
{
	display: block;
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
	padding-top: 50px;
}

form.form.comment input[type=text]
{
	width: 60%;
}

div.form.newticket
{
	display: block;
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
}

div.form.newreply
{
	display: block;
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	padding-top: 50px;
}

.italic
{
	font-style: italic;
}

.float.right
{
	float: right;
}

.timeline
{
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-sizing: border-box;
}

.timeline .part.green
{
	background-color: #5cb85c;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	box-sizing: border-box;
}

.timeline .part.orange
{
	background-color: #f0ad4e;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	box-sizing: border-box;
}

.timeline .part.red
{
	background-color: #d9534f;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	box-sizing: border-box;
}

.timeline .part.white
{
	background-color: #EEEEE;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	box-sizing: border-box;
}

.striped-orange
{
	background-image: -webkit-linear-gradient(45deg, #f0ad4e 25%,transparent 25%,transparent 50%,#f0ad4e 50%,#f0ad4e 75%,transparent 75%,transparent);
	background-size: 40px 40px;
}

.show.activities:hover
{
	background-color: #F7F7F7;
	cursor: pointer;
}

.hidden
{
	display: none;
}

.centered
{
	text-align: center;
}

.vcentered
{
	vertical-align: bottom;
}

.button.show.form.center
{
	display: block;
	margin: 0 auto;
	width: 330px;
}

.padded.label
{
	display: inline-block;
	width: 200px;
}

.padded.left
{
	padding-left: 34px;
}

.leftbordered
{
	border-left: 1px solid #E5E5E5;
}

.rightbordered
{
	border-right: 1px solid #E5E5E5;
}

.bottombordered
{
	border-bottom: 1px solid #E5E5E5;
}

.topbordered
{
	border-top: 1px solid #E5E5E5;
}

.allbordered
{
	border: 1px solid #E5E5E5;
	padding: 10px;
	border-radius: 0.3125em;
}

.pagination
{
	padding-top: 15px;
	text-align: center;
}

.thread
{
	padding-top: 50px;
	padding-left: 50px;
}

.post
{
	margin: 30px 0px 10px 10px;
	border-left: 3px solid #E5E5E5;
}

.postitem
{
	padding: 0px 0px 35px 15px;
	margin-bottom: 20px;
}

.comment
{
	padding-left: 200px;
}

.commentitem
{
	margin: 10px 0px 15px 0px;
}

.profile
{
	width: 50%;
	padding-top: 50px;
	padding-left: 150px;
	margin: 0 auto;
}

.cursor
{
	border-left: solid black 3px;
	height:25px;
}

.today
{
	position: relative;
	top: -28px;
	width:0;
}

.today .text
{
	left: -18px;
	position: relative;
}

.part:hover
{
    opacity: 0.8;
}

.left-menu
{
	background-color: #EEEEEE;
	min-height: 900px;
}

.left.floated.fourteen.wide.column
{
	margin-top: 20px;
}
