@import url(http://fonts.googleapis.com/css?family=Lemon|Oxygen);

html
{
	font-family: "Oxygen", sans-serif;
	font-size: 0.9em;
}

html a
{
	color: #444444;
	text-decoration: none;
}

html a:hover:not(.hide), html a:active:not(.hide), html a:focus:not(.hide)
{
	text-decoration: underline;
}

body.ui.fade
{
	background: rgba(68, 68, 68, 0.5);
}

div.form.login
{
	width: 15%;
	min-width: 350px;
	margin: 0 auto;
	margin-top: 20%;
}

div.form.newthread
{
	display: block;
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
}

div.form.newticket
{
	display: block;
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
}

div.form.newpost
{
	display: block;
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
	padding-top: 50px;
}

.italic
{
	font-style: italic;
}

.float.right
{
	float: right;
}

.hidden
{
	display: none;
}

.centered
{
	text-align: center;
}

.button.show.form.center
{
	display: block;
	margin: 0 auto;
	width: 330px;
}

.padded.left
{
	padding-left: 34px;
}

.leftbordered
{
	border-left: 1px solid #E5E5E5;
}

.rightbordered
{
	border-right: 1px solid #E5E5E5;
}

.bottombordered
{
	border-bottom: 1px solid #E5E5E5;
}

.topbordered
{
	border-top: 1px solid #E5E5E5;
}

.thread
{
	padding-top: 50px;
	padding-left: 50px;
}

.post
{
	margin: 30px 0px 10px 10px;
	border-left: 3px solid #E5E5E5;
}

.postitem
{
	padding: 0px 0px 35px 15px;
	margin-bottom: 20px;
}

.comment
{
	padding-left: 200px;
}

.commentitem
{
	margin: 10px 0px 15px 0px;
}

.profile
{
	width: 50%;
	padding-top: 50px;
	padding-left: 150px;
	margin: 0 auto;
}
