@import url(http://fonts.googleapis.com/css?family=Lemon|Oxygen);

html
{
	font-family: "Oxygen", sans-serif;
	font-size: 0.9em;
}

html a
{
	color: #444444;
	text-decoration: none;
}

html a:hover:not(.hide), html a:active:not(.hide), html a:focus:not(.hide)
{
	text-decoration: underline;
}

body.ui.fade
{
	background: rgba(68, 68, 68, 0.5);
}

div.form.login
{
	width: 15%;
	min-width: 350px;
	margin: 0 auto;
	margin-top: 20%;
}

div.form.newthread
{
	display: block;
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
}

div.forum.thread
{
	display: block;
}

.italic
{
	font-style: italic;
}

.float.right
{
	float: right;
}

.hidden
{
	display: none;
}

.button.show.form.center
{
	display: block;
	margin: 0 auto;
	width: 330px;
}
