{% extends '::layout.html.twig' %}

{% block title %} {{ 'elearning.home'|trans }} - {{ parent() }} {% endblock %}
{% block active_elearning 'active' %}
{% block body %}
	<h2 class="ui header padded left">
		<i class="book large icon"></i>
		<div class="content">
			{{ 'elearning.home'|trans|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui grid">
		{% block elearning_body %}
		{% endblock %}
	</div>
{% endblock %}
