{% extends "SiteTicketBundle::layout.html.twig" %}

{% block body_ticket %}
	<div>
		<h2 class="subsubtitle">{{ 'TICKET_HEADING_NEW_TITLE'|trans }}</h1>
	</div>
	<form action="" method="POST">
		{{ form_widget(form) }}
		<div>
			<input type="submit" value="{{ 'TICKET_SEND'|trans }}" class="contactsubmit">
		</div>
	</form>
{% endblock %}
