{% extends "::layout.html.twig" %}

{% block body %}
	<h2 class="ui header padded left">
		<i class="ticket large icon"></i>
		<div class="content">
			{{ 'TICKET_HEADING_TITLE'|trans|upper }}
		</div>
	</h2>
	<div class="ui clearing divider"></div>
	<div class="ui page relaxed grid">
		{% block body_ticket %}
		{% endblock %}
	</div>
{% endblock %}
