{% extends "SiteIntraBundle::layout.html.twig" %}

{% block body_index %}
	<div class="equal height three column row">
		<div class="column">
			<div class="segment">
				<br>
				{% include "SiteIntraBundle:Intra:block_index_activities.html.twig" %}
			</div>
		</div>
		<div class="column">
			<div class="segment">
				<br>
				{% include "SiteIntraBundle:Intra:block_index_corrections.html.twig" %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="segment">
				<br>
				{% include "SiteIntraBundle:Intra:block_index_feed.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
