{% extends "SitePlanningBundle::layout.html.twig" %}

{% block planning_body %}
  <div id ="calendar" class="calendar blockcentered"></div>
  {% for activity in user.activities %}
    {{ activity.start|localizeddate("full", "full") }}
  {% endfor %}
{% endblock %}
