{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
	<div class="row">
		<div class="column">
			<h3 class="ui dividing header">
				<i class="lock large icon"></i>
				<div class="content">
					{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle')|upper }}
				</div>
			</h3>
			<div class="ui form newpost">
				{% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
