{% extends "SiteMessageBundle::layout.html.twig" %}

{% block item_sent 'disabled' %}
{% block body_messages %}
	<h3 class="ui dividing header">
		<i class="list icon"></i>
		{{ 'HEADING_SENT'|trans }}
	</h3>
	{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
{% endblock %}
